@font-face {
    font-family: "Norse";
    src: url(./resources/Norse.otf);
}

body {
    text-align: center;
    background-color: #f2f2f2;
    padding: 90px;
    margin: 0;
}

h1 {
    position: relative;
    font-family: "Norse";
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 5vw;
    cursor: pointer;
}

img {
    max-width: 100vw;
    max-height: 100vh;
    border-radius: 5px;
    border: 1px solid white;
    margin: 10px;
    transition: 0.3s;
    cursor: pointer;
}

#recipe-button {
    color: #ac7707;
    font-family: "Norse";
    font-size: 1.5vw;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-weight: bold;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ac7707;
    margin: 10px;
    background-color: white;
    transition: 0.3s;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

#recipe-button:hover {
    background-color: #ac7707;
    color: white;
}

@media (max-width: 768px) {
    body {
        display: block;
    }

    #recipe-button {
        font-size: 4vw;
        display: grid;
    }

    h1 {
        font-size: 20vw;
    }

    img {
        max-width: 50vw;
    }
}

